 .title{
    display: flex;
    height: 12vh;
    align-items: center;
    margin-left: 1px;
padding-left: 670px;
    font-size: 3rem;
  margin-bottom: 5vh;
    color: #16222A;
    margin-top: 50px;
 }

 .bouton1{
     margin-top: 80px;
     margin-bottom: 300px;
     margin-left:50px;
     width: 400px;
     
    
 }
 .bouton2{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 50px;
    width: 400px;
}
 .ligne{
     margin-top: 50px;
     margin-left: 400px;
     margin-right: 400px;
     margin-bottom: 50px;
    }
    .buttons{
        margin-bottom: 00px;
        padding: 50px;
        align-items: center;
        height: 500px;
        background-color: #f2f2f2;
        
    }
    .choix1{
        margin: 50px;
        margin-top: 35px;
        height: 300px;
        width: 500px;
        text-align:justify;
        background-color: rgba(0,0,0,0.5);
        border-style: solid;

}
.choix2 {
    
    margin-left: 800px;
        margin-top: -350px;
        height: 300px;
        width: 500px;
        text-align:justify;
        background-color: rgba(0,0,0,0.5);
        border-style: solid;
}

.parag{
    margin-top: 0px;
    text-align: center;
    padding-top: 40px;
}

.avatar {
    vertical-align: middle;
    width: 15vh;
    height: 15vh;
    border-radius: 0%;
    margin: 5vh;
  }
.deleteb:hover{
    cursor:pointer
}