.Homebg{
    display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
    background-image: url("Home.jpg");
    image-rendering: auto;
    height: 540px;
    width: 1518px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    color: #f2f2f2;
    margin-top: 50px;
}